* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-bgc: #f3f4f6;
  --main-content-font: adobe-gurmukhi, Georgia, serif;
  --header-font: classico-urw, Arial, sans-serif;
  --menu-header-font: rgb(184, 158, 28);
  background-color: var(--main-bgc);
  letter-spacing: 1px;
}

body {
  height: 100vh;
}

#content {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
}

.main {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  font-size: 45px;
  text-align: center;
  padding-top: 2rem;
  font-family: var(--header-font);
}

.main div:not(:first-child) {
  font-family: var(--main-content-font);
}

.menu-section {
  display: flex;
  gap: 8rem;
  font-size: 23px;
  justify-content: center;
  color: rgb(55, 55, 55);
}

.tab-placeholder {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Home Tab */

.image-section {
  background-image: url("./../madie-hamilton-dZ-HI4EuWcA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 85%;
}

.image-section > * {
  color: white;
  position: absolute;
  top: 55%;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.image-section .book-now {
  border: 2px solid white;
  padding: 6px;
}

.text-section {
  padding-top: 3rem;
  line-height: 26px;
  font-weight: 400;
  color: rgb(55, 55, 55);
}

.text-section > * {
  padding-bottom: 3rem;
}

/* Menu Tab */

.menu-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.menu-header {
  color: var(--menu-header-font);
  font-size: 20px;
}

.menu-item {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.menu-item-price {
  text-align: right;
}

/* Footer */
.footer {
  margin-top: auto;
  height: 60px;
  width: 100%;
  border: 2px dotted grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
